<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<script type="text/javascript" th:fragment="javascript">

	//autocompleta los productos a facturar /facturar
$(document).ready(function () {
	$("#buscar_producto").autocomplete({

		source: function (request, response) {
			$.ajax({
				type: 'GET',
				url: "/bonjour/formularios/cargarproductos/" + request.term, 
				/*[[@{/bonjour/formularios/cargarproductos/}]]*/ 
				dataType: "json",
				data: { term: request.term }, 
				
				success: function (data) {
					response($.map(data, function (item) {
						return {
							value: item.idProducto,
							label: item.nombre + " Disponibles : " + item.productoDisponibilidad.stockProducto,
							presentacion: item.presentacion,
							precio: item.precioBeneficio,
							stock: item.productoDisponibilidad.stockProducto,//
                            nombre:  item.nombre
								
						};
					}));
				},
			});

		},

		select: function (event, ui) {

	
		if(lineasHelper.hasProducto(ui.item.value)){
			 
						lineasHelper.incrementaCantidad(ui.item.value, ui.item.precio,ui.item.stock);
						return false;
						
						
					}
	
	
		var lineaFactura = $("#plantillaLineasFactura").html();
		lineaFactura = lineaFactura.replace(/{ID}/g,ui.item.value);
		lineaFactura = lineaFactura.replace(/{NOMBRE}/g,ui.item.nombre);
		lineaFactura = lineaFactura.replace(/{STOCK}/g,ui.item.stock);
		lineaFactura = lineaFactura.replace(/{PRESENTACION}/g,ui.item.presentacion);
		lineaFactura = lineaFactura.replace(/{PRECIO}/g,ui.item.precio);
		
		if(ui.item.stock>=1){
		$("#cargarItemProductos tbody").append(lineaFactura);
		lineasHelper.crearBorrador();
		lineasHelper.calcularImporte(ui.item.value,ui.item.precio,1,ui.item.stock);
		
	
		return false;
		}else{
			alert("Producto agotado");
			$("#buscar_producto").val(null);
			return false;
		}
	}
	});
	$("facturar").submit(function(){
				$("#plantillaLineasFactura").remove();
				return;
			});
});

var lineasHelper = {
		


calcularImporte : function(id, precio, cantidad, disponible){
if(cantidad<=disponible){
$("#total_importe_" + id).html(parseInt(precio) *  parseInt(cantidad));

this.calcularGranTotal();
}else if(cantidad>disponible){
	$("#cantidad_" + id).val(disponible);
	return alert("Excede disponibilidad ");
	
	
}



},

mostrarAlertaEstado : function(estado,tipoalerta){
	var alerta = document.getElementById("tipo_factura");
	alerta.className = tipoalerta; // "alert alert-warning";
	alerta.textContent = estado;
	setTimeout(function () {
	      $("#alerta_borrador");
	    }, 3000);
},
crearBorrador : function(){
	var estadoFactura;

	if(document.getElementById("flexSwitchCheckDefault").checked==true){
		estadoFactura = "BORRADOR";
		
		this.mostrarAlertaEstado("BORRADOR","alert alert-warning");
		
	}else{
		estadoFactura = "RECAUDO";
		this.mostrarAlertaEstado("FACTURA DE VENTA","alert alert-info");
	};
	
		$('input[name="linea_id[]"]').each(function(){
			
				$("#estado_" + parseInt($(this).val()) ).html(estadoFactura);
			
		});

		

	
},
hasProducto: function(id){

					var resultado = false;

					$('input[name="linea_id[]"]').each(function(){
						if(parseInt(id) == parseInt($(this).val()) ){
							resultado = true;
						}
					});

					return resultado;
				},
				incrementaCantidad: function(id, precio,stock){
					var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
					if(cantidad<stock){
				    $("#cantidad_" + id).val(++cantidad);
					this.calcularImporte(id, precio, cantidad, stock);
					
					}else{
						
						
						 alert("Excede disponibilidad");
						
						
						
					}
					 
				},
				eliminarLineaFactura: function(id){
					$("#row_" + id).remove();
					this.calcularGranTotal();
				},
				calcularGranTotal: function(){
					var total = 0;

					$('span[id^="total_importe_"]').each(function(){
						total += parseInt($(this).html());
					});

					$('#gran_total').html(total);
				
				}
				
		}
</script>
</body>
</html>