<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head"></head>

  <header th:replace="layout/layout :: header"></header>

  <body>
    <div class="container">
      <h1 th:text="${titulo}"></h1>

      <form action="" method="POST" class="form-row mb-4">
        <div class="col-4">
          <label for="mes_rango">Mes</label>+
          <input
            type="month"
            name="fecha"
            id="mes_rango"
            class="form-control"
            value="2023-01"
            onchange="buscadorEstadisticas.consultarEstadisticas()"
          />
        </div>
      </form>
      <div class="row align-items-start">
        <div class="col">
          <h2 align="right">
            Ventas $<span
              class="badge badge-pill badge-secondary"
              id="total_ventas"
              th:field="${total_beneficio}"
              style="background: #2c3e50"
              >0</span
            >
          </h2>
        </div>

        <div class="col-2">
          <h2 align="right">
            Profit:<span
              class="badge badge-pill badge-secondary"
              id="total_profit"
              th:field="${total_profit}"
              style="background: #2c3e50"
              >0</span
            >
          </h2>
        </div>

        <div class="col">
          <h2 align="right">
            Inventario:<span
              class="badge badge-pill badge-secondary"
              id="total_inventario"
              th:field="${total_inventario}"
              style="background: #2c3e50"
              >0</span
            >
          </h2>
        </div>

        <div class="col">
          <h2 align="right">
            Egresos:<span
              class="badge badge-pill badge-secondary"
              id="total_egresos"
              style="background: #2c3e50"
              >0</span
            >
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col">
        <h1 align="right">
          Balance:<span
            class="badge badge-pill badge-secondary"
            id="balance"
            style="background: #2c3e50"
            >0</span
          >
        </h1>
      </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
